In [7]:
import pandas as pd
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import ElasticNet
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [9]:
boston = pd.read_csv('Boston.csv')
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [11]:
a = [0.01,0.1,0.5,1,2.5, 3,5]
r = [0.001, 0.3, 0.5, 0.7 , 0.9]

In [13]:
X = boston.drop('medv', axis=1)
y = boston['medv']
X_train, X_test, Y_train , Y_test = train_test_split(X,y,test_size=0.3, random_state=24)

In [15]:
scores = []
for element in a:
    for l1 in r:
        el = ElasticNet(alpha = element , l1_ratio = l1)
        el.fit(X_train,Y_train)
        y_pred = el.predict(X_test)
        # print(r2_score(Y_test,y_pred))
        scores.append(r2_score(Y_test,y_pred))

In [21]:
print("scores : ", scores)
print("Index of maximum r2_score",np.argmax(scores))
print("Maximum r2_score is : " , np.max(scores))
print("Minimum r2_Score is : ", np.min(scores))
print("Index of minimum r2_score : ", np.argmin(scores))
len(scores)

scores :  [0.6967219871856272, 0.697635846188487, 0.6987663228112378, 0.7007631890226727, 0.7047472055042474, 0.6971605236502538, 0.6952677391085273, 0.69378109890013, 0.6922881318615809, 0.6903295180558133, 0.6912425882980947, 0.6898804061911411, 0.6890501193573981, 0.6883826283069533, 0.6870413108124076, 0.6816898368451435, 0.677475602294217, 0.6746117127668815, 0.6715083517009832, 0.6684368727430863, 0.661456122646694, 0.6446890346853036, 0.6338120709582067, 0.6204415502732782, 0.6066974400528841, 0.6562227240833913, 0.6349299892852058, 0.6224459238939087, 0.6070447851997617, 0.5915244338314933, 0.6391481529969439, 0.6069615445233438, 0.5833904186356086, 0.5614259426825439, 0.5492261312655884]
Index of maximum r2_score 4
Maximum r2_score is :  0.7047472055042474
Minimum r2_Score is :  0.5492261312655884
Index of minimum r2_score :  34

35

In [25]:
i_max = np.argmax(scores)
#print("Best Alpha : ", a[i_max])

In [ ]:
insurance = pd.read_csv('insurance.csv')
insurance