In [150]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score, f1_score

In [125]:
df = pd.read_csv('Kyphosis.csv')

In [126]:
df

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [127]:
X = df.drop('Kyphosis', axis = 1)
y = df['Kyphosis']

In [128]:
from tqdm import tqdm
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24, stratify=y)

In [129]:
C = [0.001,0.5,1,2,3]
scores = []
for i in tqdm(range(len(C))):
    svm = SVC(kernel='linear', C=C[i])
    svm.fit(X_train,y_train)
    y_pred = svm.predict(X_test)
    scores.append(accuracy_score(y_test,y_pred))


i_max = np.argmax(scores)
print('Max score is ', scores[i_max])
print('K value is ', C[i_max])
print(scores)

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 69.64it/s]

Max score is  0.7647058823529411
K value is  0.001
[0.7647058823529411, 0.7647058823529411, 0.7647058823529411, 0.7647058823529411, 0.7647058823529411]

In [168]:
# USing MinMaxScaler and SVM 

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24, stratify=y)
scaler =StandardScaler()

In [170]:

C = [0.001,0.5,1,2,3]
scores1 = []
for i in tqdm(range(len(C))):
    svm = SVC(kernel='linear', C=C[i])
    pipe = Pipeline([('MInMaxScaler', scaler), ('SVM',svm)])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    scores1.append(accuracy_score(y_test,y_pred))


i_max = np.argmax(scores1)
print('Max score is ', scores1[i_max])
print('K value is ', C[i_max])
print(scores)

100%|███████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 227.60it/s]

Max score is  0.8
K value is  0.001
[]

# Radial Basis Function

In [196]:
Cs = [0.001,0.5,1,2,3]
Gs = [0.001,0.5,1,2,3]

scores = []

scaler = MinMaxScaler()

for i in tqdm(range(len(Cs))):
    for j in Gs:
        svm = SVC(kernel='rbf', C = Cs[i] , gamma= j)
        pipe = Pipeline([('MInMaxScaler', scaler), ('SVM',svm)])
        pipe.fit(X_train,y_train)
        y_pred = pipe.predict(X_test)
        scores.append([Cs[i],j,f1_score(y_test,y_pred, pos_label='present')])

df_data = pd.DataFrame(data = scores, columns = ['Cs', 'gamma', 'f1'])
df_data.sort_values('f1' , ascending = False).iloc[0]

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 45.71it/s]

Cs       3.000000
gamma    3.000000
f1       0.615385
Name: 24, dtype: float64

In [198]:
df_data

       Cs  gamma        f1
0   0.001  0.001  0.000000
1   0.001  0.500  0.000000
2   0.001  1.000  0.000000
3   0.001  2.000  0.000000
4   0.001  3.000  0.000000
5   0.500  0.001  0.000000
6   0.500  0.500  0.000000
7   0.500  1.000  0.000000
8   0.500  2.000  0.000000
9   0.500  3.000  0.000000
10  1.000  0.001  0.000000
11  1.000  0.500  0.000000
12  1.000  1.000  0.000000
13  1.000  2.000  0.545455
14  1.000  3.000  0.615385
15  2.000  0.001  0.000000
16  2.000  0.500  0.000000
17  2.000  1.000  0.545455
18  2.000  2.000  0.615385
19  2.000  3.000  0.615385
20  3.000  0.001  0.000000
21  3.000  0.500  0.444444
22  3.000  1.000  0.571429
23  3.000  2.000  0.615385
24  3.000  3.000  0.615385

In [200]:
y.value_counts()

Kyphosis
absent     64
present    17
Name: count, dtype: int64