In [133]:
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge , ElasticNet, LogisticRegression
from sklearn.model_selection import KFold , StratifiedKFold
from sklearn.model_selection import cross_val_predict,cross_val_score
import os
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor , RandomForestClassifier 
from catboost import CatBoostClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import Pipeline
from sklearn.experimental import enable_iterative_imputer  
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_selector,make_column_transformer

In [121]:
df = pd.read_csv('HR_Analytics_Train.csv', index_col=0)
df

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
employee_id,,,,,,,,,,,,,
65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [123]:
df.isnull().sum()

department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [110]:
impute = SimpleImputer(strategy='constant', fill_value="Bachelor's").set_output(transform='pandas')
df['education'] = impute.fit_transform(df[['education']])
df

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
employee_id,,,,,,,,,,,,,
65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
13614,Sales & Marketing,region_9,Bachelor's,m,sourcing,1,29,1.0,2,0,0,45,0
51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [125]:
impute1 = SimpleImputer(strategy='most_frequent').set_output(transform='pandas')
df['previous_year_rating'] = impute1.fit_transform(df[['previous_year_rating']])
df

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
employee_id,,,,,,,,,,,,,
65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [112]:
df.isnull().sum()

department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [127]:
X , y = df.drop('is_promoted', axis=1)  , df['is_promoted']

In [129]:
df.dtypes

department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [115]:
test_data = pd.read_csv('HR_Analytics_Test.csv')
test_data['education'] = impute.fit_transform(test_data[['education']])
test_data['previous_year_rating'] = impute1.fit_transform(test_data[['previous_year_rating']])

In [116]:
ohe = OneHotEncoder(sparse_output=False , drop = 'first' , handle_unknown='ignore').set_output(transform='pandas')
ct = make_column_transformer((ohe , make_column_selector(dtype_include=object)) ,
                             ('passthrough', make_column_selector(dtype_exclude=object)) , 
                             verbose_feature_names_out=False).set_output(transform='pandas')

X_trn = ct.fit_transform(X)
X_tst = ct.transform(test_data)

In [119]:
X_trn.shape

(54808, 53)

In [135]:
rf = RandomForestClassifier( n_estimators= 30 , random_state = 24 )
kfold = StratifiedKFold( n_splits=5 , random_state=24 , shuffle=True)
paras = {'max_features' : [3,5,6,8] , 'max_depth': [None , 3,4,5,6,7,8]}

gcv = GridSearchCV(rf , param_grid=paras, cv = kfold , scoring='f1')
gcv.fit(X_trn,y)
y_pred = gcv.predict(X_tst)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [136]:
y_pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [144]:
cat = CatBoostClassifier(cat_features=['department','region','education','gender','recruitment_channel'])
cat.fit(X_trn , y )
y_pred_cat = cat.predict(X_tst)

ValueError: 'department' is not in list

{'max_depth': None, 'max_features': 8} 0.4377004647910644